h1{

  color:white;

  margin-bottom:10px;
}

p{

  color:#cbd5e1;

  margin-bottom:25px;
}

form{

  display:flex;

  flex-direction:column;

  gap:20px;
}

input{

  width:100%;

  padding:14px;

  border:none;

  outline:none;

  border-radius:10px;

  background:rgba(
    255,
    255,
    255,
    .08
  );

  color:white;
}

input::placeholder{

  color:#94a3b8;
}

.password-box{

  position:relative;
}

.eye-btn{

  position:absolute;

  right:12px;

  top:50%;

  transform:
  translateY(-50%);

  border:none;

  background:none;

  cursor:pointer;
}

.login-options{

  text-align:right;
}

.login-options a{

  color:#60a5fa;

  text-decoration:none;
}

.login-btn{

  padding:14px;

  border:none;

  border-radius:10px;

  cursor:pointer;

  background:#3b82f6;

  color:white;

  font-weight:600;
}

.error{

  color:#ef4444;
}